body {

background-image:url('wallhaven-698688.png');
}


#movies img {
	width: 100%;

}

#movie img {
	width: 100%;
	
}
@media(min-width:960px){
	#movies .col-md-3 .well {
		height: 420px;
	}

	#movies .col-md-3 img{
		height: 280px;
	}	
}


.navbar-header a {
	color: red;
}

.copy {
	display: flex;
	margin-left: 545px;
	margin-top: 300px;
}